*, *::before, *::after {
  box-sizing: border-box;
}

/* Bitmaker Title */
h1.title {
  font-family: sans-serif;
  text-align: center;
  background-color: #404040;
  color: white;
  height: 80px;
  padding-top: 20;
  margin: 0;
}

/* Menu */
.display {
  text-align: center;
  display: inline-block;
  background-color: #CCCCCC;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.head-link {
  width: 300px;
  margin:0 auto;
}

/* 6 Photos Bar */
.number-photos {
  font-family: sans-serif;
  background-color: #6EFFDD;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
}

span.black {
  font-weight: bold;
  border-bottom: 2px solid yellow;
}

.photo-bank {
  width: auto;
  display: inline-block;
  margin: 0px auto;
}

div.photo-bank ul {
  list-style: none;
}

/* EDIT | DELETE */
span.edit {
  color: blue;
  font-family: sans-serif;
  text-decoration: underline;
}

span.delete {
  color: blue;
  font-family: sans-serif;
  text-decoration: underline;
}

/* EDIT | DELETE STYLE */
div ul li p {
  text-align: center;
  background-color: #FFE11C;
  padding: 10px;
  margin: 5px 0px 15px 0px;
}
